body {
  margin: 0;
  overflow: hidden;
}

@keyframes example {
  from {transform: scale(.8); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}
div > div > a > img {
  transform-origin: center center;
  animation-name: example;
  animation-duration: 1s;
  animation-delay: .6s;
  animation-fill-mode: backwards;
}

input[type="text"] {
  outline: none;
}

